<% content_for :title, "Editing deed" %>

<h1>Editing deed</h1>

<%= render "form", deed: @deed %>

<br>

<div>
  <%= link_to "Show this deed", @deed %> |
  <%= link_to "Back to deeds", deeds_path %>
</div>
